/body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.invalid {
    color: firebrick;
}

#details {
    width: 500px;
}

#functions {
    width: 500px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

#expressions {
    list-style-type: none;
}
